{% extends "base.html" %}

{% block head %}
    <!-- Render the parent template -->
  {{ super() }} 
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

 <!-- Title of the page goes here -->
{% block title %} Cook Book {% endblock %}

<!-- Main Content goes here -->
{% block content %} 
    <div class="d-md-flex justify-content-between">
      <h1>Cooking Recipes</h1>
      <a href="/recipes/add" class="btn btn-primary mt-2 h-25">Add Recipe</a>  
    </div>
    <hr>
    <div class="alerts"></div> 

    <div class="grid row">
        {% for recipe in recipes %}
        <div class="col">
          <h3>{{ recipe.name }}</h3>
          <span>Ingredients : </span>
          {% for ingredient in recipe.ingredients %}
            <span style="display:inline" class="text-info">{{ ingredient }}</span>
          {% endfor %}
          <h4>Preparation-Steps:</h4>
          <p style="white-space: pre-wrap;">{{ recipe.prepsteps }}</p>
          <span>Required Tools : </span>
          {% for tool in recipe.tools %}
            <span class="text-info">{{ tool }}</span>
          {% endfor %}
          <br>
          <a href="/recipes/update/{{ recipe._id }}" class="mt-2 btn btn-primary">Edit</a>
          <button class="mt-2 btn btn-danger" id="deleteRecipeItem" onclick="deleteRecipe('{{ recipe._id }}')">Delete</button>
        </div>  
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}