{% extends "base.html" %}

{% block head %}
    <!-- Render the parent template -->
  {{ super() }} 
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

 <!-- Title of the page goes here -->
{% block title %} Cook Book {% endblock %}

<!-- Main Content goes here -->
{% block content %} 
     <h1>Cooking Recipes</h1>   
     <a href="/recipes/add" class="btn btn-primary">Add Recipe</a>  
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}